version: 2.0

references:
  stack_build: &stack_build
    docker:
      # https://github.com/haskell-works/stack-build/blob/master/minimal/Dockerfile
      - image: quay.io/haskell_works/stack-build-minimal
    steps:
      - checkout
      - run:
          name: Upgrade Stack
          command: stack upgrade
      - run:
          name: Digest
          command: |
            {
              stack --version
              echo -- "${STACK_YAML}/${STACK_ARGUMENTS}"
            } > rdigest
            git ls-files | xargs md5sum > sdigest
      - restore_cache:
          keys:
            - v3-{{ .Branch }}-{{ checksum "rdigest" }}-{{ checksum "sdigest" }}
            - v3-{{ .Branch }}-{{ checksum "rdigest" }}-
            - v3-{{ .Branch }}-
            - v3-master-
      - run:
          name: Dependencies
          command: |
            # https://github.com/commercialhaskell/stack/issues/4071
            rm -rf ~/.stack/precompiled/x86_64-linux/*/*/haddock-library-*

            if [ "${LINT:-1}" = 1 ]; then
              make setup setup.lint
            else
              make setup
            fi
          no_output_timeout: 120m
      - run:
          name: Build
          command: make build
      - save_cache:
          # yamllint disable-line rule:line-length
          key: v3-{{ .Branch }}-{{ checksum "rdigest" }}-{{ checksum "sdigest" }}
          paths:
            - ~/.stack
            - ./.stack-work
      - run:
          name: Test
          command: make test
      - run:
          name: Lint
          command: |
            if [ "${LINT:-1}" = 1 ]; then
              curl -L -o .hlint.yaml \
                https://raw.githubusercontent.com/pbrisbin/dotfiles/master/hlint.yaml
              make lint
            fi

jobs:
  build_8.0.2:
    <<: *stack_build
    environment:
      STACK_ARGUMENTS: --no-terminal
      STACK_YAML: stack-lts-9.21.yaml
  build_8.2.2:
    <<: *stack_build
    environment:
      STACK_ARGUMENTS: --no-terminal
      STACK_YAML: stack-lts-11.19.yaml
  build_8.4.3:
    <<: *stack_build
    environment:
      STACK_ARGUMENTS: --no-terminal
      STACK_YAML: stack-lts-12.10.yaml
  build:
    <<: *stack_build
    environment:
      STACK_ARGUMENTS: --no-terminal
  build_nightly:
    <<: *stack_build
    environment:
      # weeder is not happy, again
      # https://circleci.com/gh/pbrisbin/yesod-markdown/222
      LINT: 0
      STACK_ARGUMENTS: --no-terminal --resolver nightly
      STACK_YAML: stack-nightly.yaml

workflows:
  version: 2
  commit:
    jobs:
      - build_8.0.2
      - build_8.2.2
      - build_8.4.3
      - build
      - build_nightly
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build_nightly
